html{
    max-width: 1440px;
    overflow: hidden;
}

img {height: 80%;
    width: 80%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.btns{
    max-width: 35%;
    margin: 10px;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
}


button{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin: 5px;
    font-weight: 700;
}